<md-content ng-controller="labOrderDetailViewController">
    <md-detail>
        <div layout="column">
            <h3>Lab Order #{{ labOrderDetail.id }} {{ labOrderDetail.orderDateDisplay }}</h3>
            <span>Lab Test: {{ labOrderDetail.labTestName}}</span>
            <span>Patient Name: {{ labOrderDetail.patientLastName}}, {{ labOrderDetail.patientFirstName}}</span>
            <span>Facility Name: {{ labOrderDetail.facilityName}}</span>
            <form name="myForm">
                <md-input-container>
                    <input id="amount" mdInput type="text" placeholder="Amount Collected" ng-model="labOrderDetail.amountCollected">
                </md-input-container>
            </form>
        </div>
        <div layout="row">
            <md-button class="md-secondary" ng-click="saveLabOrderDetail()">Save</md-button>
        </div>
        <div layout="row">
            <md-button class="md-secondary" ng-click="viewList()">View List</md-button>
        </div>
    </md-detail>
</md-content>

